<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><%= @user.identifier.capitalize %> Data: URL Data</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Response Time Data</h4>
        </div>
        <%= erb :'partials/_long_response_time' %>
    </div>
    <!-- /.panel -->
</div>
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            Web Browser Breakdown
        </div>
        <%= erb :'partials/_browser_breakdown' %>
    </div>
    <!-- /.panel -->
</div>
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            OS Breakdown
        </div>
        <%= erb :'partials/_os_breakdown' %>
    </div>
    <!-- /.panel -->
</div>
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            Screen Resolution (W x H)
        </div>
        <%= erb :'partials/_screen_res' %>
    </div>
    <!-- /.panel -->
</div>
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4>HTTP Verbs Used</h4>
        </div>
        <%= erb :'partials/_verbs' %>
    </div>
    <!-- /.panel -->
</div>
<div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Most Popular Referrers</h4>
        </div>
        <%= erb :'partials/_referrers' %>
    </div>
    <!-- /.panel -->
</div>
