<h1>URL Data</h1>
<h2>Longest response time</h2>
<%= erb :'partials/_long_response_time' %>
Shortest response time<br>
<%= erb :'partials/_short_response_time' %>
Average response time<br>
<%= erb :'partials/_avg_response_time' %>
Which HTTP verbs have been used<br>
<%= erb :'partials/_verbs' %>
Most popular referrrers<br>
<%= erb :'partials/_referrers' %>
