<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><%= @user.identifier %> Data</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Most Requested URLS (Click link to learn more)
        </div>
        <%= erb :'partials/_url_stats' %>
    </div>
    <!-- /.panel -->
</div>
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            Web Browser Breakdown
        </div>
        <%= erb :'partials/_browser_breakdown' %>
    </div>
    <!-- /.panel -->
</div>
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            OS Breakdown
        </div>
        <%= erb :'partials/_os_breakdown' %>
    </div>
    <!-- /.panel -->
</div>
<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            Screen Resolution (W x H)
        </div>
        <%= erb :'partials/_screen_res' %>
    </div>
    <!-- /.panel -->
</div>
